@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Duru+Sans&family=Josefin+Sans:ital,wght@1,300&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Duru+Sans&family=Josefin+Sans&family=Zen+Maru+Gothic&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Infant", serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Maru Gothic", sans-serif;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 5px;
}
 a {
  text-decoration: none;
  color: #555555;
}

.navv {
  background-color: #292e36;
  width: 100%;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 228px;
  padding: 40px;
  align-items: center;
}
.navbar .number {
  border: 2px solid #e1b168;
  height: 70px;
  width: 275px;
  text-align: center;
  line-height: 70px;
  margin-left: 0px;
  color: white;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.1em;
}
.number a {
  color: white;
  text-decoration: none;
}
.number a:hover {
  font-size: 23px;
}
.navbar div:nth-child(3) {
  margin-right: 0;
}
.navbar .btn {
  background: #e1b168;
  border: 2px solid #e1b168;
  border-radius: 0px;
  height: 70px;
  width: 270px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.44px;
  color: #292e36;
}
.navbar .btn:hover {
  background: #292e36;
  border: 2px solid #e1b168;
  border-radius: 0px;
  height: 70px;
  width: 270px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.44px;
  color: #fff;
  box-shadow: 5px 5px 20px coral;
}
.btn {
  border: none;
  background: #e1b168;
  border: 2px solid #e1b168;
  border-radius: 0px;
  height: 70px;
  width: 270px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.44px;
  color: #292e36;
}
.btn:hover {
  background: #e1b168;
  border: 2px solid #e1b168;
  border-radius: 0px;
  height: 70px;
  width: 270px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.44px;
  color: #fff;
  box-shadow: 5px 5px 20px coral;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #292e36;
  padding: 0 40px;
  border-top: 1px solid #5c6168;
}
.nav_links {
  display: flex;
  margin-left: 0;
}
.nav_links .items {
  margin-right: 50px;
}
.nav_links a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ffffff;
}
.nav_links p:nth-child(1) a {
  color: #e1b168;
}
.nav_links a:hover {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: underline;
}
.nav_nets {
  margin-right: 0;
}
.nav_nets a {
  margin-left: 20px;
}
.nav_nets a:hover img {
  transform: scale(1.2);
}
.nav3 {
  display: flex;
  padding-top: 20px;
  background: #292e36;
}
.nav_kirish {
  padding-left: 30px;
  margin-top: 160px;
}
.nav_kirish h1 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  /* identical to box height, or 110% */
  letter-spacing: 0.2px;
  color: #ffffff;
}
.nav_text {
  padding-right: 20px;
  margin-top: 20px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.2px;
  color: #ffffff;
}
.nav_kirish .btn {
  margin-top: 40px;
  border: 2px solid #e1b168;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #e1b168;
  background-color: #292e36;
  width: 230px;
  height: 70px;
}
.nav_kirish .btn:hover {
  color: black;
  background-color: #e1b168;
}

.nav_view img {
  height: 700px;
  width: 605px;
}
header {
  background: #fff8f5;
  width: 100%;
}
header .about {
  display: flex;
  height: 200px;
  align-items: center;
  padding-right: 60px;
  padding-left: 10px;
}
header .about .box {
  display: flex;
  align-items: center;
}
header .about .box div:first-child {
  margin-right: 20px;
}
header .about .box p:first-child {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.2px;
  color: #292e36;
}
header .about .box p:last-child {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}
.header_story {
  display: flex;
  flex: 1;
  margin-top: 20px;
  padding-bottom: 80px;
}
.story_view img {
  transform: scale(0.93);
}
.story_text {
  flex: 2;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 10px;
}
.story_text p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.2px;
  color: #555555;
}
.story_text .title_little {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 56px;
  /* identical to box height, or 140% */
  letter-spacing: 0.2px;
  color: #292e36;
}
.text_years {
  display: flex;
  margin-top: 20px;
}
.text_2018 p:last-child,
.text_2020 p:last-child {
  margin-top: 8px;
}
.text_2020 {
  width: 70%;
  margin-left: 30px;
}
.boss_sign {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;
  color: #555555;
  margin: 10px 0;
}
.boss_sign img {
  margin-top: 10px;
}
.menu_dishes {
  display: flex;
  margin: 100px 25px;
}
.dishes {
  width: 37%;
}
.menu_little {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 12%;
  margin-right: 340px;
}
.dishes h4 {
  margin-top: 10px;
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  /* identical to box height, or 140% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
}
.dishes_text {
  width: 112%;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.002px;
  color: #555555;
  margin: 20px 0;
}
.dishes_btn {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #e1b168;
  background-color: white;
  width: 230px;
  margin-top: 50px;
}
.dishes_btn:hover {
  border: none;
  width: 230px;
  background-color: #e1b16838;
  color: rgb(233, 14, 14);
  box-shadow: 2px 2px 20px #d8870d;
  transform: translateX(10px) translateY(10px);
  transition: 0.2s;
}
.dishes_names {
  flex: 3;
  margin-left: 90px;
  margin-top: 35px;
}
.dishes_names span {
  display: inline-block;
  border-bottom: 2px solid #aaaaaa;
  width: 173px;
}
.dishes_names .box {
  display: flex;
  margin: 40px 0;
  margin-left: 0;
}
.dishes_names h6 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  /* identical to box height, or 140% */
  letter-spacing: 0.2px;
  color: #292e36;
}
.dishes_names .box .box_text {
  margin-left: 20px;
}
.dishes_names .box .box_text .title {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 42px;
  /* identical to box height, or 140% */
  letter-spacing: 0.2px;
  color: #292e36;
}
.dishes_names .box .box_text p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.002px;
  color: #555555;
}
.chiroq img {
  width: 100%;
}
.feedbacks {
  background-color: #292e36;
  width: 100%;
  height: 700px;
  padding: 40px;
  position: relative;
}
.feedbacks h6 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 125px;
  position: absolute;
  left: 40px;
  top: 150px;
}
.feedbacks h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 140% */
  margin-top: 140px;
  letter-spacing: 0.2px;
  text-transform: capitalize;

  color: #ffffff;
}
.feedbacks p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  color: #ffffff;
}
.corousel {
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.corousel .box1 {
  background-color: #343942;
  height: 250px;
  padding: 0 30px;
}
.corousel .box1 .profil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: -10px;
  position: relative;
}
.corousel .box1 p {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  /* or 150% */

  letter-spacing: 0.25px;

  color: #ffffff;
}
.profil ~ p {
  margin-top: 20px;
  border-top: 1px solid #797e89;
  padding-top: 20px;
}
.corousel .box1 .name {
  padding-top: 30px;
  position: absolute;
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  /* identical to box height, or 140% */
  left: 160px;
  letter-spacing: 0.2px;

  color: #ffffff;
}
.corousel .box1 .name p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 150% */
  margin-top: -5px;
  letter-spacing: 0.2px;

  color: #e1b168;
}
.imgprofil {
  margin-right: 20px;
}
.imgprofil img:first-child {
  position: absolute;
}
.offer {
  position: relative;
}
.offer h6 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 77px;
  margin-top: 120px;
}
.offer h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 56px;
  /* identical to box height, or 140% */
  margin-top: 140px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 5px;
  color: #292e36;
  text-align: center;
}
.offer p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.2px;

  color: #292e36;
}
.offer_imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 40px;
}
.offer_imgs .gamburger {
  background: url(/imgs/gamburback.png);
  display: flex;
  padding: 60px 27px 0 27px;
  height: 400px;
  flex: 1;
  width: 100%;
}
.offer_imgs .pizzaburger {
  background: url(/imgs/pizzaback.png);
  display: flex;
  padding: 60px 10px 0 30px;
  height: 400px;
  flex: 1;
  width: 100%;
}
.chicken {
  margin-left: 40px;
  padding: 40px 0;
}
.pizza {
  transform: scale(0.92);
  margin-left: 20px;
}
.gamburger h6 {
  margin-top: 40px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 150% */
  width: 190px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  border-top: 1px solid #292e36;
  border-bottom: 1px solid #292e36;
  color: #292e36;
}
.gamburger h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 56px;
  /* identical to box height, or 140% */
  width: 195px;
  letter-spacing: 0.2px;

  color: #292e36;
}
.gamburger p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: 0.2px;
  width: 200px;
  color: #555555;
}

.popular_dish .menu {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 56px;
  margin-top: 120px;
}
.popular_dish h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 56px;
  /* identical to box height, or 140% */
  margin-top: 140px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 5px;
  color: #292e36;
  text-align: center;
}
.popular_dish p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.2px;

  color: #292e36;
}
.popular_dish_imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 40px;
}
.popular_dish_imgs img {
  width: 100%;
}
.popular_dish_imgs .box {
  height: 430px;
}
.popular_dish_imgs .box .name p:last-child {
  flex: 1;
  text-align: end;
}
.popular_dish_imgs .box .name p:first-child {
  flex: 2;
  text-align: start;
}
.popular_dish_imgs .box .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  /* identical to box height, or 140% */

  letter-spacing: 0.2px;

  color: #292e36;
}
.popular_dish_imgs .box:hover .name p {
  transform: scale(1.1);
  font-weight: 700;
  padding: 0 5px;
}
.popular_dish_imgs .box .name ~ p {
  padding-top: 10px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17.3px;
  line-height: 30px;
  /* or 150% */
  border-top: 1px solid #dcdcdc;
  letter-spacing: 0.2px;

  color: #555555;
}
.popular_dish .btn_dish {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}
.popular_dish .btn_dish:hover .btn {
  transform: scale(0.9);
  color: #292e36;
  box-shadow: 3px 3px 3px #292e36;
}
.services {
  margin-top: 100px;
  background: #292e36;
  width: 100%;
  height: 480px;
  display: flex;
  padding: 140px 40px;
}
.services .menu {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 150% */
  margin-left: 0px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 139px;
}
.services h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 140% */
  margin-top: 5px;
  letter-spacing: 0.2px;
  text-transform: capitalize;

  color: #ffffff;
}
.services p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 150% */
  margin-top: 10px;
  letter-spacing: 0.2px;

  color: #ffffff;
}

.services_plan {
  display: flex;
  margin-left: 50px;
}
.services_plan .box img {
  transform: scale(0.9);
}
.news .menu {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 50px;
  margin-top: 120px;
}
.news h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 56px;
  /* identical to box height, or 140% */
  margin-top: 140px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 5px;
  color: #292e36;
  text-align: center;
}
.news p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.2px;

  color: #292e36;
}
.blog {
  display: flex;
  padding: 20px 40px 0 20px ;
  justify-content: space-between;
}
.blog .box .fist {
  background-image: url(/imgs/viewmore1.png);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.blog .box:nth-child(2) .fist {
  background-image: url(/imgs/viewmore2.png);
  opacity: 0.8;
}
.blog .box {
  flex: 1;
  position: relative;
  gap: 30px;
  ;
  margin-bottom: 300px;
}
.blog_delicious {
  border: 1px solid #c4c4c4;
  border-top: none;
  padding: 18px;
  margin-top: -2px;
  
}
.blog_delicious h6 {
  display: inline;
  border-top: 1.5px solid #e1b168;
  border-bottom: 1.5px solid #e1b168;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  padding: 3px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
}
.blog_delicious .date {
  margin-left: 30px;
}
.blog_delicious h5 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  /* or 130% */

  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 10px 0;
  color: #292e36;
}
.blog_delicious p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  /* or 150% */
  text-align: start;
  letter-spacing: 0.2px;

  color: #555555;
}
.blog .btn {
  position: absolute;
  top: 45%;
  left: 30%;
  text-align: center;
  width: 240px;
  z-index: 5;
}
.reservation {
  margin-top: 100px;
  background: url(/imgs/booktable.png);
  height: 800px;
  padding: 100px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation .booking {
  width: 100%;
  height: 600px;
  background: rgba(41, 46, 54, 0.85);
  padding: 100px;
}
.reservation h6 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 139px;
}
.reservation h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 140% */
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

input:nth-child(1),
input:nth-child(2) {
  padding: 5px 20px;
  margin: 10px;
  width: 260px;
  height: 60px;
  border: 1px solid #858585;
  background-color: transparent;
}
input:nth-child(2) ~ input {
  padding: 5px 20px;
  margin: 7px;
  width: 170px;
  height: 60px;
  border: 1px solid #858585;
  background-color: transparent;
}
input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  color: #ffffff;
}
.book_input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.book_btn {
  text-align: center;
  margin-top: 30px;
}
.book_btn .btn {
  background: #ffffff;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 150% */
  width: 220px;
  height: 60px;
  text-align: center;
  letter-spacing: 0.2px;
  border: none;
  color: #000000;
}
.book_btn .btn:hover {
  box-shadow: 5px 5px 15px #858585;
  transform: scale(0.9);
  color: #0f1c2e;
}
footer {
  background-color: #292e36;
}
.lastsec {
  display: flex;
  justify-content: space-between;
  background-color: #292e36;
  padding: 120px 20px;
}
.lastsec .contact {
  margin-left: 0;
  margin-right: 140px;
  padding-top: 100px;
}
.lastsec .contact p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  color: #ffffff;
}
.lastsec .contact h6 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 42.3%;
  margin-top: 100px;
  text-align: start;
  margin-left: 0;
  margin-bottom: 20px;
}
.lastsec .contact .tel a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  /* identical to box height, or 158% */

  letter-spacing: 0.2px;

  color: #e1b168;
}
.lastsec .contact .tel a:hover {
  font-size: 21px;
}
.logo {
  margin-right: 103px;
  justify-content: center;
}
.lastsec .logo img {
  transform: scale(0.98);
  display: flex;
  justify-content: center;
}
.logo p {
  margin-top: 5px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 150% */
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 300px;
  color: #ffffff;
}
.footbtn{
  display: flex;
  align-items: center;
}
.logo input {
  padding: 10px;
  height: 60px;
  width: 350px;
  border: 1px solid #858585;
  background-color: transparent;
}
.logo input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  color: #ffffff;
}
.logo .btn {
  margin-left: -10px;
  height: 60px;
  border: none;
  width: 160px;
  text-align: center;
  letter-spacing: 0.2px;
  background-color: #ffffff;
  color: #000000;
  vertical-align: bottom;
}
.logo .btn:hover {
  box-shadow: 5px 5px 15px #ffffff;
  font-size: 20px;
}

.lastsec .nav_nets {
  margin-top: 100px;
}
.lastsec .nav_nets h6 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  width: 90.3%;
  margin-top: 56px;
  text-align: start;
  margin-left: 17px;
  margin-bottom: 20px;
}
.lastsec .nav_nets p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: right;
  letter-spacing: 0.2px;

  color: #ffffff;
}
.lastsec .nav_nets p span {
  color: #e1b168;
}
footer .addinfo {
  padding: 20px 0;
  border-top: 1px solid #575b62;
  display: flex;
  justify-content: space-between;
}
footer .addinfo p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  color: #ffffff;
}
footer .addinfo a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;
  color: #e1b168;
}
.add {
  margin-left: 5px;
}
.footer-link{
  margin-right: 3px;
}
.footer-link a {
  margin-left: 10px;
}
